@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <button type="button"  class="btn card text-white bg-primary mb-3" style="width:100%">
            <div class="card-body">
                <h3 class="card-title">
                    <span class="fa fa-2x fa-address-book"></span>
                    Pacientes
                </h3>
                <p class="card-text">Activos: 20</p>
            </div>
        </button>
    </div>
    <div class="col-lg-4 col-md-6  col-sm-12">
        <button type="button" class="btn card text-white bg-info mb-3"  style="width:100%">
            <div class="card-body">
                <h3 class="card-title">
                    <span class="fa fa-2x fa-user-md"></span>
                    Profecionales
                </h3>
                <p class="card-text">Activos: 20</p>
            </div>
        </button>
    </div>
    <div class="col-lg-4 col-md-6  col-sm-12">
        <button type="button" class="btn card text-white bg-success mb-3" style="width:100%">
            <div class="card-body">
                <h3 class="card-title">
                    <span class="fa fa-2x fa-building"></span>
                    Empresas
                </h3>
                <p class="card-text">Activos: 20</p>
            </div>
        </button>
    </div>
</div>