<div class="col-12" data-bind="with: Modificando">
    <div class="card text-white bg-primary mb-3" style="width:100%">
        <div class="card-body">
            <form class="needs-validation" id="myForm" novalidate>
                <div class="form-row">
                    <div class="col-md-4">
                        <label class="col-form-label col-form-label-sm">Nombre</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre" required data-bind="value: Nombre">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label col-form-label-sm">Apellido</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Apellido" required data-bind="value: Apellido">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label col-form-label-sm">Dni</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Dni" required data-bind="value: Dni">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm">Direccón</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Direccón" required data-bind="value: Direccion">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm">Tel</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Tel" required data-bind="value: Telefono">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="col-form-label col-form-label-sm">Contacto</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Contacto" required data-bind="value: Contacto">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                    <div class="col-md-6  mb-3">
                        <label class="col-form-label col-form-label-sm">ContactoTelefono</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ContactoTelefono" required data-bind="value: ContactoTelefono">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                </div>
                <div class="form-row mx-auto">
                    <div class="col-md-2 offset-4">
                        <button class="btn btn-primary" style="width:100%" data-bind="click: $root.Models[0].Crear, visible: Id() == 0">Crear</button>
                        <button class="btn btn-primary" style="width:100%" data-bind="click: $root.Models[0].Modificar, visible: Id() != 0">Modificar</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" style="width:100%" data-bind="click: $root.Models[0].Cancelar">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>