<div class="col-12" data-bind="with: Modificando">
    <div class="card text-white bg-warning mb-3" style="width:100%">
        <div class="card-body">
            <form class="needs-validation" id="myForm" novalidate>
                <div class="form-row">
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm">Paciente</label>

                        <input class="form-control form-control-sm" id="pacientes" data-bind="value: ModalPrestacion.PacienteEscrito, valueUpdate: 'afterkeydown'" placeholder="(nombre)" type="text" list="pacientesList" />
                        <datalist id="pacientesList">
                            <!-- ko foreach: ModalPrestacion.PacientesFiltrados -->
                            <option data-bind="value: '(' + Dni  + ') ' + Apellido + ', '+ Nombre, attr: {'data-id' : Id }"></option>
                            <!-- /ko -->
                        </datalist>

                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label col-form-label-sm">Zona</label>
                        <select class="form-control form-control-sm" data-bind="options: ModalPrestacion.Zonas, optionsText: function(item) { return '(' + item.EmpresaNombre + ') ' + ko.unwrap(item.Nombre); }, value: Zona, optionsCaption: '(zona)'"></select>
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <label class="col-form-label col-form-label-sm">Tipo</label>
                        <select class="form-control form-control-sm" data-bind="options: ModalPrestacion.TipoProfesionales, value: ModalPrestacion.TipoProfesional, optionsCaption: '(tipo profesional)'"></select>
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label col-form-label-sm">Profesional</label>
                        <select class="form-control form-control-sm" data-bind="options: ModalPrestacion.Profesionales, optionsText: 'Nombre', value: Profesional, optionsCaption: '(profesional)'"></select>
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="col-form-label col-form-label-sm">Desde</label>
                        <input type="text" class="form-control form-control-sm" placeholder="(desde)" required data-bind="value: Inicio">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="col-form-label col-form-label-sm">Hasta</label>
                        <input type="text" class="form-control form-control-sm" placeholder="(hasta)" required data-bind="value: Fin">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="col-form-label col-form-label-sm">Vicitas</label>
                        <input type="text" class="form-control form-control-sm" placeholder="(cantidad)" required data-bind="value: Cantidad">
                        <div class="invalid-feedback">
                            El dato es obligatorio
                        </div>
                    </div>
                </div>                
                <div class="form-row mx-auto">
                    <div class="col-md-2 offset-4">
                        <button class="btn btn-primary" style="width:100%" data-bind="click: $root.Models[3].Crear, visible: Id() == 0">Crear</button>
                        <button class="btn btn-primary" style="width:100%" data-bind="click: $root.Models[3].Modificar, visible: Id() != 0">Modificar</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" style="width:100%" data-bind="click: $root.Models[3].Cancelar">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>